LibraryService/LibraryClient/Service References/LibraryService/LibraryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LibraryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8886/libraryservice?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8886/libraryservice?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8886/libraryservice?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LibraryService.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILibraryService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetByAuthor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByAuthor" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetByAuthor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_TakeBook_InputMessage">
    <wsdl:part name="parameters" element="tns:TakeBook" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_TakeBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:TakeBookResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_ReturnBook_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnBook" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_ReturnBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnBookResponse" />
  </wsdl:message>
  <wsdl:portType name="ILibraryService">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/Add" message="tns:ILibraryService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/AddResponse" message="tns:ILibraryService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/GetById" message="tns:ILibraryService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/GetByIdResponse" message="tns:ILibraryService_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByAuthor">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/GetByAuthor" message="tns:ILibraryService_GetByAuthor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/GetByAuthorResponse" message="tns:ILibraryService_GetByAuthor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TakeBook">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/TakeBook" message="tns:ILibraryService_TakeBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/TakeBookResponse" message="tns:ILibraryService_TakeBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnBook">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/ReturnBook" message="tns:ILibraryService_ReturnBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/ReturnBookResponse" message="tns:ILibraryService_ReturnBook_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILibraryService" type="tns:ILibraryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/ILibraryService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/ILibraryService/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByAuthor">
      <soap:operation soapAction="http://tempuri.org/ILibraryService/GetByAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TakeBook">
      <soap:operation soapAction="http://tempuri.org/ILibraryService/TakeBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnBook">
      <soap:operation soapAction="http://tempuri.org/ILibraryService/ReturnBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LibraryService">
    <wsdl:port name="BasicHttpBinding_ILibraryService" binding="tns:BasicHttpBinding_ILibraryService">
      <soap:address location="http://localhost:8886/libraryservice" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>